<!-- Contact -->
<section id="contact" class="four">
	<div class="container">

		<header>
			<h2>Contact</h2>
		</header>

		<p>For further details or to get in touch, please use the form below.</p>

		<form name = "contact" method="post" netlify-honeypot="bot-field" netlify> <!-- action="https://www.getform.org/f/48d1d32a-5d6b-4083-a4fb-343411d4640f"> -->
			<div class="row">
				<div class="hidden" style="display: none;"><label>Don’t fill this out: <input name="bot-field"></label></div>
				<div class="6u 12u$(mobile)"><input type="text" name="name" placeholder="Name" aria-label="Name"/></div>
				<div class="6u$ 12u$(mobile)"><input type="email" name="email" placeholder="Email" aria-label="Email"/></div>
				<div class="12u$">
					<textarea name="message" placeholder="Message" aria-label="Message"></textarea>
				</div>
				<div class="12u$">
					<input type="submit" value="Send Message" />
				</div>
			</div>
		</form>

	</div>
</section>